/* imagem editável */
#myModal.active,#myModalEdit.active{
  display: block;
}

.edit_image:hover{
    opacity: 0.9;
}

.max-width{
  width: 100%;
  height: 100%;
  max-height: 110px;
  margin-bottom: 30px;
}

.image_container{
  display: grid;
  justify-content: center;
  
}

.imgphoto{
  margin-bottom: 5px;
  background-color: #eee;
  border: 3px solid rgb(177, 177, 177);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 250ms;
  object-fit: cover;
}

#imgphoto:hover{
  border: 3px solid rgb(212, 212, 212);
}

#flimage,#flimage-edit{
  display: none;
}

/* img para inserção de jogos */

.max-width-game {
  height: 160px;
  max-height: initial;
}

.img-game {
  border-radius: initial;
  width: 150px;
  height: 150px;
}

.reset_box {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
}

#reset_btn {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  z-index: 99;
  
}

#reset_btn:hover{
  background-color: #000000;
  color: white;
}

#reset_btn:focus {
  
}
